<p>form-region works!</p>
<div class="container text-center">
  <h2>Le composant C13</h2>
  <hr />    <div class="row justify-content-md-center">
  <div>
    <form [formGroup]="regionForm">
      <div>Mes données de formulaire : {{regionForm.value | json}}</div>
      <hr />
      <div class="form-group">
        <label>Nom : </label>
        <input type="text" class="form-control" name="nom" formControlName="nom">
      </div>
      <button type="submit">
        Envoyer</button>
    </form>
    <hr />
  </div>
</div>
</div>
