<section class="container-fluid">
  <div class="d-flex bd-highlight mb-3">
    <h1 class="me-auto p-2 bd-highlight bleu">Liste des bouteilles</h1>
    <span class="p-2 bd-highlight badge btn-primary gros pull-right">{{bouteilles.length}}</span>
  </div>
  <br>
  <form action="lister" method="GET" class="form-horizontal">
    <div class="form-group is-flex" id="blocFiltre">
      <label id="labelFiltre" for="filtre" class="col-xs-2 col-form-label">Filtre :</label>
      <div class="flex-fill">
        <div class="input-group">
			      <span class="input-group-btn">
			      	<a href="lister"
                 th:class="${(param.filtre != null) and (param.filtre[0] != '') ? 'btn btn-warning' : 'btn btn-warning disabled'}">
 			      	<span class="glyphicon glyphicon-trash"></span></a>
			      </span>
          <input type="search" name="filtre" id="filtre" placeholder="Filtre sur le nom, la couleur, la région du vin ..."
                 class="form-control"
                 th:value="${param.filtre }"/>
          <span class="input-group-btn">
			        <button class="btn btn-info" type="submit">Envoyer</button>
			      </span>
        </div><!-- /input-group -->

      </div>
    </div>
  </form>
  <br>
  <table class="table table-hover table-striped">
    <tr>
      <th></th>
      <th><a href="trier?par=nA"><span class="glyphicon glyphicon-menu-down"></span></a> Nom <a
        href="trier?par=nD"><span class="glyphicon glyphicon-menu-up"></span></a></th>
      <th><a href="trier?par=mA"><span class="glyphicon glyphicon-menu-down"></span></a> Millesime <a
        href="trier?par=mD"><span class="glyphicon glyphicon-menu-up"></span></a></th>
      <th><a href="trier?par=pA"><span class="glyphicon glyphicon-menu-down"></span></a> Petillant <a
        href="trier?par=pD"><span class="glyphicon glyphicon-menu-up"></span></a></th>
      <th><a href="trier?par=qA"><span class="glyphicon glyphicon-menu-down"></span></a> Quantite <a
        href="trier?par=qD"><span class="glyphicon glyphicon-menu-up"></span></a></th>
      <th><a href="trier?par=coA"><span class="glyphicon glyphicon-menu-down"></span></a> Couleur <a
        href="trier?par=coD"><span class="glyphicon glyphicon-menu-up"></span></a></th>
      <th><a href="trier?par=rA"><span class="glyphicon glyphicon-menu-down"></span></a> Region <a
        href="trier?par=rD"><span class="glyphicon glyphicon-menu-up"></span></a></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor=" let bouteille of bouteilles, let index = index ">
      <!--<app-bouteille [bouteille]= bouteille [index]=index></app-bouteille>-->
      <td> {{bouteille.id }}</td>
      <td><a [routerLink]="['/bouteilles',bouteille.id]">{{bouteille.nom }}</a></td>
      <td> {{bouteille.millesime }}</td>
      <td> {{bouteille.petillant }}</td>
      <td> {{bouteille.quantite }}</td>
      <td> {{bouteille.couleur.nom }}</td>
      <td> {{bouteille.region.nom }}</td>
      <td>
        <button class="btn btn-primary" (click)="supprimerBouteille(index)">Supprimer</button>
      </td>
    </tr>
  </table>
</section>
