<div class="container-fluid">
  <div class="is-flex is-flex-direction-row">
    <label class="col-form-label has-text-weight-bold">Id</label>
    <p>{{bouteille.id }}</p>
  </div>

  <div class="is-flex is-flex-direction-row">
    <label class="col-form-label has-text-weight-bold">Nom</label>
    <p>{{bouteille.nom }}</p>
  </div>

  <div class="is-flex is-flex-direction-row">
    <label class="col-form-label has-text-weight-bold">Millesime</label>
    <p>{{bouteille.millesime }}</p>
  </div>

  <div class="is-flex is-flex-direction-row">
    <label class="col-form-label has-text-weight-bold">Petillant</label>
    <p>{{bouteille.petillant }}</p>
  </div>

  <div class="is-flex is-flex-direction-row">
    <label class="col-form-label has-text-weight-bold">Quantité</label>
    <p>{{bouteille.quantite }}</p>
  </div>

  <div class="is-flex is-flex-direction-row">
    <label class="col-form-label has-text-weight-bold">Couleur</label>
    <p *ngIf="bouteille.couleur != undefined">{{bouteille.couleur.nom }}</p>
  </div>

  <div class="is-flex is-flex-direction-row">
    <label class="col-form-label has-text-weight-bold">Région</label>
    <p *ngIf="bouteille.region != undefined">{{bouteille.region.nom }}</p>
  </div>

  <div class="is-flex is-flex-direction-row">
    <label class="col-form-label has-text-weight-bold">Actions</label>
    <button class="btn btn-primary" (click)="supprimerBouteille()">Supprimer</button>
  </div>

</div>
