<!--<table class="w-100">
  <thead class="d-flex bd-highlight">
  <th class="ms-2">id</th>
  <th class="d-flex flex-grow-1 justify-content-center ms-2">nom</th>
  <th></th>
  </thead>
  <tr *ngFor="let region of regions" class="d-flex bd-highlight">

    <td class="ms-2"><input class="border-0 bg-transparent" type="text" name="regionId" id="regionId"
                            value="{{region.id }}" disabled=""></td>
    <td class="d-flex flex-grow-1">
      <input class="flex-fill ms-2" type="text" name="regionNom" id="regionNom" value="{{region.nom}}"/>
    </td>
    <td>
      <input type="button" value="modifier" (click)="onAdd(region.id)" class="btn btn-primary ms-2"/>
      <input
        type="button" value="supprimer" (click)="onDelete(region.id)" class="btn btn-danger ms-2"/>
    </td>
  </tr>
</table>
<hr/>-->
<section>
  <header>
    <div class="col text-center">nom</div>
    <div class="col text-center">action</div>
  </header>
  <div *ngFor="let region of regions" class="row mt-2"  >
    <app-form-region-edit [region]="region" (isUpdated)="Update()"></app-form-region-edit>
  </div>

</section>
