<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <div class="container-fluid">
    <a  href="#" class="navbar-brand active"><img class="bottle" src="./assets/img/Bottle32x32.png" alt="image"/><img class="bottle" src="./assets/img/Bottle32x32.png" alt="image"/> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-right navbar-brand">
        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        <a class="nav-link" routerLink="bouteilles">Liste des bouteille</a>
        <a class="nav-link" routerLink="bouteille/ajouter">Ajouter bouteille</a>
        <a class="nav-link" href="#">Couleurs</a>
        <a class="nav-link" href="#">Régions</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
      <div class="pull-left"><a> 2021 Copyright</a></div>
      <div class="pull-right"><a >Formation Eni</a></div>
  </div>
</nav>
