
<div class="container text-center">
  <div class="row justify-content-md-center">
    <div>
      <form class="d-flex flex-row align-self-stretch"(ngSubmit)="onSubmit(formulaireCouleur.value)" #formulaireCouleur="ngForm">
        <div class="form-group d-flex flex-row mb-2 me-2 h-100 align-self-stretch">
          <label for="nom" >Couleur : </label>
          <input type="text" class="form-control h-100 align-self-stretch"
                 name="nom"  id="nom" [ngModel]="couleurform.nom" required minlength="2" maxlength="50">
        </div>
        <button class="btn btn-secondary ms-2" type="submit" (click)="onCancelClick()">Annuler</button>
        <button class="btn btn-primary ms-2" type="submit" [disabled]="formulaireCouleur.invalid">Envoyer</button>
      </form>
      <hr />
    </div>
  </div>
</div>
